<div class="modal-body" [ngBusy]="busy">
  <h6 class="modal-title">Are you sure want to <strong class="text-danger">{{data.operation}}</strong>?</h6>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-danger" (click)="confirmFn()">{{data.operation}}</button>
  <button type="button" class="btn btn-sm btn-success" (click)="activeModal.close()">Cancel</button>
</div>
