.btn {
    outline: none !important;
    font-family: Lato, sans-serif;
    @include border-radius(2px);
    img {
        width: 32px;
    }

  &.btn-default {
    background-color: #FFF;
    color: #8c8c8c;
    border-color: #cbcbcb;
    &:hover {
      background-color: #F4F4F4;
      box-shadow: none;
    }
  }

  &.btn-primary {
    background-color: $secondary-color;
    color: white;
    border-color: $secondary-color;
    &:hover,&:active,&:focus, &:not([disabled]):not(.disabled):focus {
      background-color: $secondary-color-dark;
      box-shadow: none;
    }
  }

  &.btn-xs {
    padding: 0.15rem 0.35rem;
    font-size: 0.675rem;
  }
}


