table {
  thead {
    .cs-arrange-chevrons {
      height: 18px;
      .fa {
        padding-left: 3px;
        font-size: 10px;
        display: block;
        color: #d3d3d3;
        &.active {
          font-size: 12.5px;
          color: $secondary-color;
          padding-top: 5px;
        }
      }
    }
  }
  th,td {
    word-break: break-all;
  }
}
