<form #form="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" autocomplete="off" ngNativeValidate [ngBusy]="busy">
  <div class="modal-header">
    <h5 class="modal-title">Edit Image</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input class="form-control" accept="image/*" type="file"
             id="file"
             (change)="handleFileInput($event)" required>
    </div>
      <img src="{{previewUrl || data.body.url}}" class="img-fluid mx-auto d-block img-thumbnail" alt="Responsive image">
  </div>
  <div class="modal-footer">
    <button type="submit" style="width: 75px;" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-success" (click)="activeModal.close()">Cancel</button>
  </div>
</form>
