<div class="card account-card">
  <div class="container">
    <div class="header text-center">
      <img src="../assets/images/logo.png" alt="logo"/>
      <hr>
    </div>

    <div class="body">
      <h5 class="mb-4 text-center mt-5">Reset Password</h5>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off" ngNativeValidate>
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password"
                 placeholder="enter new password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword"
                 name="confirmPassword" placeholder="confirm password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="busy">
          <span *ngIf="!busy">Reset</span> <span *ngIf="busy" class="fa fa-spinner fa-spin"></span>
        </button>
      </form>

      <p class="mt-4 mb-5 text-center">Get back to login? <a style="text-decoration: underline;" [routerLink]="['']">Login</a></p>
    </div>
  </div>
</div>
