<div class="container-fluid mt-7">
  <h5 class="heading alert-heading mb-2">Profile</h5>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="change-password-tab" data-toggle="tab" href="#change-password" role="tab" aria-controls="change-password" aria-selected="false">Change Password</a>
        </li>
      </ul>
    </div>

    <div class="card-body mt-4 mb-3">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form #profileForm="ngForm" class="form-inline" (ngSubmit)="onSubmit()" ngNativeValidate>
            <input type="email" class="form-control mb-2 mr-sm-2" id="email" name="email" [(ngModel)]="user.email" placeholder="email" required readonly>
            <div class="input-group mb-2 mr-sm-2">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" placeholder="Name" required>
            </div>

            <button type="submit" class="btn btn-primary mb-2" [disabled]="busy"><span *ngIf="busy" class="fa fa-spinner fa-spin"></span><span *ngIf="!busy">Update</span></button>
          </form>
        </div>
        <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-passw-tab">
          <form #securityForm="ngForm" class="form-inline" (ngSubmit)="onSubmitSecurityForm(securityForm)" ngNativeValidate>
            <input type="password" class="form-control mb-2 mr-sm-2" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Current Password" required>

            <div class="input-group mb-2 mr-sm-2">
              <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword"  placeholder="New Password" required>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <input type="password" class="form-control" [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            </div>

            <button type="submit" class="btn btn-primary mb-2" [disabled]="busySecurity"><span *ngIf="busySecurity" class="fa fa-spinner fa-spin"></span><span *ngIf="!busySecurity">Update</span></button>
          </form>
          <div class="alert alert-danger" *ngIf="isError">Password doesn't match</div>
        </div>
      </div>
    </div>
  </div>
</div>
